@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* height: 120px; */
  height: 15vh;
  position: sticky;
  top: 0;
  background-color: white;
  color: #285c6e;
}
main {
  background-color: rgb(140, 140, 140);
}
.logo {
  margin-left: 30px;
}
header img {
  width: 120px;
}
/* logotipo temporal */
.nav-list {
  display: flex;
  margin: 20px;
}
.nav-list li {
  list-style: none;
  margin: 2px;
  padding: 2px;
}
.nav-list li a {
  text-decoration: none;
  font-size: 25px;
  padding: 10px;
  color: #285c6e;
  /* color: inherit; */
}


/* .nav-list li a:hover {
  text-decoration: underline;
} */
.nav-list li a::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}
.nav-list li a:hover::after, .nav-list li a:focus::after{
  transform: scale(1);
}


/* .nav-item a:before {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 6px;
  width: 100%;
  background: #4070f4;
  border-radius: 50px;
  transform: scaleX(0);
  transition: transform 0.2s linear;
}
.nav-item a:hover:before {
  transform: scaleX(1);
} */

.home {
  display: flex;
  /* height: calc(100vh - 120px); */
  height: 85vh;
  padding: 50px;
  background-image: url('https://images.unsplash.com/photo-1526724038726-3007ffb8025f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80');
  background-repeat: no-repeat;
  background-size: cover;
}
.home div {
  margin-top: 70px;
  color: #285c6e;
}
.home div h1 {
  margin: 30px 0;
  font-size: 120px;
}
.home div p {
  width: 60%;
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: 600;
  /* text-shadow: 2px 2px 5px white; */
  text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
}
.home div button {
  width: 28%;
  height: 10%;
  margin: 30px 0;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 600;
  border: 2px solid #24cc63;
  /* background-color: #3b8ba6; */
  color: #24cc63;
}
.home div button:hover {
  cursor: pointer;
  background-color: #285c6e;
}
.home div a i {
  margin-right: 7px;
}

.about {
  display: flex;
  text-align: center;
  padding: 50px;
}
.about div {
  display: flex;
  justify-content: space-between;
}
.about div h2 {
  margin: 30px 0;
}
.about div p {
  width: 60%;
}
.about div img {
  height: 70%;
}

footer {
  background-color: #353535;
  height: 1000px;
}
