@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* height: 120px; */
  height: 15vh;
  position: sticky;
  top: 0;
  background-color: white;
  color: #285c6e;
  box-shadow: 2px 2px 20px #285c6e;
}
main {
  /* background-color: rgb(140, 140, 140); */
}
.logo {
  margin-left: 30px;
}
header img {
  width: 120px;
}
/* logotipo temporal */
.nav-list {
  display: flex;
  margin: 20px;
}
.nav-list li {
  list-style: none;
  margin: 2px;
  padding: 2px;
}
.nav-list li a {
  text-decoration: none;
  font-size: 25px;
  padding: 10px;
  color: #285c6e;
  display: block;
  position: relative;
  /* color: inherit; */
}


/* ANIMATION START */
.nav-list li a::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.2em;
	background-color: #2da8c1;
	opacity: 0;
	transition: opacity 300ms, transform 300ms;
}

.nav-list li a::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}
.nav-list li a:hover::after, .nav-list li a:focus::after{
  transform: scale(1);
}
/* ANIMATION END */


.home {
  display: flex;
  /* height: calc(100vh - 120px); */
  height: 85vh;
  padding: 50px;
  background-image: url('https://images.unsplash.com/photo-1526724038726-3007ffb8025f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80');
  background-repeat: no-repeat;
  background-size: cover;
}
.home div {
  margin-top: 70px;
  color: #285c6e;
}
.home div h1 {
  margin: 30px 0;
  font-size: 120px;
}
.home div p {
  width: 60%;
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: 600;
  /* text-shadow: 2px 2px 5px white; */
  text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
}
.home div .wa-button {
  width: 28%;
  height: 10%;
  margin: 30px 0;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  background-color: #24cc63;
  color: white;
}
.home div .wa-button:hover {
  cursor: pointer;
  background-color: white;
  color: #24cc63;
}
.home div .fa-button {
  width: 28%;
  height: 10%;
  margin: 30px 0;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  background-color: #046ee5;
  color: white;
}
.home div .fa-button:hover {
  cursor: pointer;
  background-color: white;
  color: #046ee5;
}
.home i {
  margin-right: 7px;
}

.icons {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(170deg, #285c6e 40%, #2da8c1); */
  /* color: #285c6e; */
}
.icon1 {
  color: #00a0a9;
  border: double 5px #00a0a9;
}
.icon2 {
  color: #00a7e7;
  border: double 5px #00a7e7;
}
.icon3 {
  color: #bd89bb;
  border: double 5px #bd89bb;
}
.icons div {
  padding: 30px;
  margin: 10px 50px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
}
.icons i {
  font-size: 50px;
  text-align: center;
}
.icons p {
  text-align: center;
}

.about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 50px;
  height: 100vh;
  background: linear-gradient(160deg,#2da8c1  40%, #257c8e);
}

.column {
  flex-basis: 50%;
  padding: 10px;
}
.left {
  color: white;
}
.left h2 {
  font-size: 60px;
  color: #285c6e;
}
.left .parr1 {
  font-size: 20px;
}
.left b {
  font-size: 30px;
}
.em {
  margin-top: 15px;
  font-weight: 700;
  font-size: 30px;
}
.left button {
  width: 28%;
  height: 50px;
  margin: 30px 0;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  color: white;
  background-color: #285c6e;
}
.left button:hover {
  cursor: pointer;
  color: #285c6e;
  background-color: white;
  border: solid 3px #285c6e;
}
.right img {
  width: 100%;
  border: solid white 10px;
  border-radius: 25px;
  box-shadow: 2px 2px 15px #16333c;
}


footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #cbcbcb;
}
footer .footer-container {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
footer .footer-container .sec h2 {
  position: relative;
  color: #333;
  font-weight: 600;
  margin-bottom: 15px;
}
footer .footer-container .sec p {
  color: #555;
}
footer .footer-container .sci {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4,50px);
}
footer .footer-container .sci li {
  list-style: none;
}
footer .footer-container .sci li a {
  display: inline-block;
  width: 45px;
  height: 45px;
  background-color: #333;
  display: grid;
  align-content: center;
  justify-content: center;
  text-decoration: none;
}
footer .footer-container .sci li a:hover {
  background-color: #fff;
}
footer .footer-container .sci li a i {
  color: #fff;
  font-size: 20px;
}
footer .footer-container .sci li a:hover .fa-brands {
  color: #333;
}
footer .footer-container .quicklinks {
  position: relative;
}
footer .footer-container .quicklinks ul li {
  list-style: none;
}
footer .footer-container .quicklinks ul li a {
  color: #555;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}
footer .footer-container .contact .info {
  position: relative;
}
footer .footer-container .contact .info li {
  display: grid;
  grid-template-columns: 30px 1fr;
  margin-bottom: 16px;
}
footer ,.footer-container .contact .info li span {
  color: #555;
  font-size: 20px;
}
footer ,.footer-container .contact .info li a {
  color: #555;
  text-decoration: none;
}
.copyright-text {
  width: 100%;
  background: #cbcbcb;
  text-align: center;
  color: #555;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
@media (max-width: 991px) {
  footer {
    padding: 40px;
  }
  footer .footer-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
  }
  .copyright-text {
    padding: 20px 40px 30px;
  }
}
@media (max-width: 768px) {
  .about .column {
    flex-basis: 100%;
  }
  footer .footer-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 20px;
  }
}



/* @media (max-width: 768px) {
  .column {
    flex-basis: 100%;
  }
} */